In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('ml2.csv')

In [3]:
df.head()

   ID    Age  Income  Gender Marital Status Buys
0   1   < 21    High    Male         Single   No
1   2   < 21    High    Male        Married   No
2   3  21-35    High    Male         Single  Yes
3   4    >35  Medium    Male         Single  Yes
4   5    >35     Low  Female         Single  Yes

In [30]:
x=df.iloc[:,:-1]
y=df.iloc[:,5]
print(y)

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Buys, dtype: object

In [32]:
from sklearn.tree import DecisionTreeClassifier as decisionTree

In [36]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

X=X.apply(le.fit_transform)
print(X)

regressor = decisionTree()
regressor.fit(X.iloc[:,1:5],y)

    ID  Age  Income  Gender  Marital Status
0    0    1       0       1               1
1    1    1       0       1               0
2    2    0       0       1               1
3    3    2       2       1               1
4    4    2       1       0               1
5    5    2       1       0               0
6    6    0       1       0               0
7    7    1       2       1               1
8    8    1       1       0               0
9    9    2       2       0               1
10  10    1       2       0               0
11  11    0       2       1               0
12  12    0       0       0               1
13  13    2       2       1               0

DecisionTreeClassifier()

In [37]:
X_in=np.array([1,1,0,0])
y_pred=regressor.predict([X_in])
print("Prediction:", y_pred)

Prediction: ['Yes']

c:\users\hp\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [50]:
from six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

dot_data=StringIO()

export_graphviz(regressor,out_file=dot_data,filled=True,rounded=True,special_characters=True)
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
#graph.write_png('tree.png')